.basket {
    max-height: 300px;
    overflow-y: scroll;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 20px 14px 22px;

    background-color: #f8f7f4;
    border-radius: 6px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

    z-index: 100;

    @media (min-width: $desktop-width) {
        position: fixed;
        width: 50%;
        right: 25%;
        top: 30%;
    }
}

.confirmSuccess {
    max-height: 300px;
    overflow-y: scroll;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.confirmSuccess {
    padding: 20px 14px 22px;

    background-color: #f8f7f4;
    border-radius: 6px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

    z-index: 100;

    @media (min-width: $desktop-width) {
        position: fixed;
        width: 50%;
        right: 25%;
        top: 30%;
    }
}

.basket__background {
    height: 3500px;
    width: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    z-index: 10;
}

.basket__table {
    width: 100%;

    font-size: 13px;
    line-height: 16px;
    color: #323232;

    border-collapse: collapse;
    border-spacing: 0;

    @media (min-width: $desktop-width) {}
}

.basket__table td {
    padding: 8px 10px 16px 0;
    vertical-align: top;
}

.basket__table .basket__delete {
    padding: 0;
}

.basket__delete button {
    position: relative;
    padding-left: 16px;
    background-color: transparent;
    border: none;

    &::before {
        position: absolute;
        left: 0;
        content: "";
        background: url("../../assets/img/svg/icon-close-cross.svg");
        background-size: contain;
        display: block;
        width: 15px;
        height: 15px;

        border-radius: 50%;
    }
}

.basket__table .basket__pic {
    padding: 0 14px 15px 0;
}

.basket__pic img {
    cursor: pointer;
}

.basket__price {
    padding-left: 5px;
}

.basket__price span {
    color: #999999;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.basket__value {
    padding-left: 10px;
}

.basket__cost {
    padding: 15px 0 14px;

    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: right;

    border-top: 1px solid #cacac7;
}

.basket__btn, .basket__submit{
    display: table;
    margin-left: auto;
    padding: 8px 15px 12px;

    text-transform: none;
    background-color: #fb565a;
}

.basket__spinner {
    display: flex;
    align-items: center;
}

.basket__minus,
.basket__plus {
    position: relative;
    cursor: pointer;
    margin: 0;
    height: 100%;
    width: auto;
    font-size: 30px;
    font-weight: bold;
    color: #d0d0d0;
    border: 2px transparent solid;
    padding: 5px;

    &:hover {
        border-color: #000;
    }
}

.basket__count {
    width: auto;
    margin: 0 2px;
    border-style: none;
    text-align: center;
    vertical-align: middle;
}

.order__error {
    color: red;
    height: auto;
}