.carousel {
    position: relative;
    padding: 0 1rem;
    margin-bottom: 2rem;
    z-index: 1;
}

.carousel-inner,
.carousel-item > img {
    width: 60vw;
    height: 70vh;
    margin: 0 auto;
    cursor: pointer;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #b5b5b5;
    border-radius: .25rem;
    transition: all .25s ease;
}

.carousel-control-prev-icon {
    margin-right: 5rem;
}

.carousel-control-next-icon {
    margin-left: 5rem;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #000;
}

.bg-dark {
    background-color: #000000 !important;
}

.carousel-indicators {
    bottom: -5rem;
    margin-bottom: 3rem;
}


@media screen and (max-width: $mobile-width-only) {
    .carousel-inner,
    .carousel-item > img {
        width: 60vw;
        height: 40vh;
        margin: 0 auto;
    }
}