.catalog {
    margin-bottom: 2rem;

    @media (min-width: $desktop-width) {
        width: 760px;
        margin-bottom: 6rem;
    }
}

.catalog__sort {
    margin-bottom: 3rem;

    @media (min-width: $desktop-width) {
        margin-bottom: 5.5rem;
    }
}

.catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    margin: 0;
    margin-bottom: 2.1rem;
    padding: 0;

    list-style: none;

    @media (min-width: $desktop-width) {
        justify-content: space-between;
    }
}

.catalog__item {
    position: relative;
    box-sizing: border-box;

    margin-bottom: 2rem;
    border: 2px solid #ece9e6;
    border-top: 10px solid #ece9e6;;

    &--hidden {
        display: none;
    }

    &:hover,
    &:focus {
        border-color: #4d4d4d;
    }

    @media (min-width: $desktop-width) {
        width: 360px;

        margin-bottom: 4rem;
    }


    &:nth-child(2n) {
        @media (min-width: $desktop-width) {
            margin-right: 0px;
        }
    }

    @media screen and (max-width: $mobile-width-only) {
        width: 100%;
    }
}


.catalog__img {
    display: block;
    height: 220px;
    margin: 0 auto;
}

.catalog__item-hide {
    bottom: 0;
    left: 0;
    right: 0;

    display: none;
    width: 100%;

    text-align: center;

    @media (min-width: $desktop-width) {
        left: 0;
        width: auto;

        padding: 2.7rem 1.8rem 2.3rem;
    }

}

.catalog__item .catalog__item-hide,
.catalog__item .catalog__item-hide {
    display: block;
}

.catalog__title {
    margin: 0 0 1.6rem 0;
    color: #000;
    font-size: 1.8rem;
    line-height: 1.66667;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.catalog__btn {
    margin-top: 1rem;
    padding: 1.5rem 1.5rem;

    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.125;
    color: #fff;
    text-decoration: none;

    background-color: #fb565a;
    &:hover {
        background-color: #e74246;
    }
    &:active {
        background-color: #d7373b;
        box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    }

    @media screen and (max-width: $mobile-width-only) {
        width: 100%;
    }

}

.catalog__text {
    display: none;
    font-size: 1.6rem;
    line-height: 1.125;
    font-weight: 500;

    &--available {
        color: #27cd67;
    }

    &--unavailable {
        color: #ff1310;
    }

    @media (min-width: $desktop-width) {
        display: block;
    }
}

